body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    
    
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 16px;
    
}

a{
    text-decoration: none;
    color: white;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 30px 0px;
    margin-bottom: 50px;
    
}

.intro{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    align-items: center;
    gap: 50px;
    color: white;
}

.context-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 80px;
    gap: 60px;
    margin-top: -60px;
}

.logo{
    font-weight: 800;
}

.headersub{
    max-width: 400px;
    font-size: 18px;
}

.large-header{
    max-width: 400px;
    font-size: 48px;
    margin-bottom: 10px;
}

button{
    background-color: #3882F6;
    border-radius: 8px;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 800;
    color: white;
    border-style: none;
}

.intro-container{
    width: fit-content;
 
}

img{
    border: 2px solid black;
    border-radius: 10px;
}

.intro img{
    border-color: white;
}

.impostors{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.photo-container{
    display: flex;
    gap: 20px;
}

.impostors p {
    text-align: center;
    font-weight: 900px;
}


.quote{
    background-color: #e4e4e4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}



.credits{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.large-quote{
    max-width: 700px;
    text-align: center;
}

.quote p{
    font-weight: 900;
    font-style: italic;
}


.cta-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.border{
    border: 2px solid #3882F6;
    border-radius: 10px;
    padding: 40px;
    margin: 100px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.subtitles{
    width: 400px;
}

.sub1{
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 10px;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color:#e4e4e4
}