body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    
    
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 12px;
}

a{
    text-decoration: none;
    color: black;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 30px;
    
}

.intro{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    
    gap: 50px;
}

.context-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 80px;
    gap: 60px;
    margin-top: -60px;
}

.headersub{
    max-width: 400px;
    font-size: 18px;
}

.large-header{
    max-width: 400px;
    font-size: 48px;
    margin-bottom: 10px;
}

button{
    background-color: #3882F6;
    border-radius: 8px;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 800;
    color: white;
    border-style: none;
}

